/ {
    // 强制点亮 P1.06 的背光驱动
    backlight: backlight {
        compatible = "gpio-backlight";
        gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>; // D9_P1.06
        default-on; 
    };

    // 虚拟一个矩阵防止报错，但不分配真实引脚
    chosen {
        zmk,kscan = &kscan0;
    };
    kscan0: kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};
